<launch>
  <arg name="model" default="$(find arp_description)/urdf/arp.xacro"/>

  <param name="arp_node/robot_description" command="$(find xacro)/xacro.py $(arg model)" />
  <param name="robot_description" command="$(find xacro)/xacro.py $(arg model)" />

  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/>
</launch>
